numpy
pandas
scikit-learn
matplotlib
jupyter
python-dotenv

torch
torchvision
transformers
sentence-transformers
accelerate

langchain
langchain-community
langchain-huggingface

chromadb

pypdf
Pillow

tqdm
requests